# Visual Studio相关
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
# svn
.svn/

# 编译输出
bin/
obj/

# NuGet包
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# 锁文件
project.lock.json
project.fragment.lock.json

# 样式和排版
*.ide/workspace.xml

# 临时文件
*.tmp
*.temp

# 部署相关
publish/

# 外部工具
_ReSharper.Caches/

# 文件历史
.history/

# 本地环境设置
*.local.json

